footer {
    background-color: var(--card);
    margin-top: 4em;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text);
    font-size: smaller;
    height: 150px;
}

footer .container .logo {
    height: 80%;
}

footer .container .logo svg {
    height: 100%;
    width: fit-content;
}