footer {
    background-color: var(--card);
}

footer  .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--text);
    font-size: smaller;
    height: 100px;
}