.project {
  width: 100%;
}

.project .image {
  grid-column: span 2;
  aspect-ratio: 4/3;
  border-radius: 18px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  background-color: var(--card);
  overflow: hidden;
  z-index: 1;
}

.project .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project .text h5 {
  color: var(--text-secondary);
}

.project .text p {
  margin: 1em 0;
}
