.about-section .container {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(2, 1fr);
}

.about-section .container .image {
    height: 200px;
    width: 100%;
    background: var(--secondary-color);
    border-radius: 18px;
    grid-column: span 2;
}

.about-section .container .text {
    display: grid;
    gap: 1em;
    grid-column: span 2;
}

.about-section .container .call-to-action {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
}

/* responsive media queries */
/* Small ≥576px */
/* @media (min-width:576px) {} */

/* Medium ≥768px */
/* @media (min-width:768px) {} */

/* Large ≥992px / desktop navbar */
@media (min-width:992px) {

    .about-section .container .text {
        grid-column: 1;
        grid-row: 1;
    }

    .about-section .container .image {
        height: 300px;
        grid-column: 2;
    }
}

/* X-Large ≥1200px */
/* @media (min-width:1200px) {} */

/* XX-Large ≥1400px */
/* @media (min-width:1400px) {} */