.hero-section .fluid-container {
    margin-top: var(--nav-height);
    padding: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4em;
    justify-content: center;
    align-items: center;
}

.hero-section .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.hero-section .title {
    text-align: center;
}

.hero-section p {
    font-size: small;
}

.hero-section h1 {
    font-size: clamp(2.5em, 4vw, 5em);
    letter-spacing: 10px;
    line-height: 1.2em;
    font-weight: 900;
}

.hero-section .image {
    width: 100%;
}

.hero-section .image svg {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* responsive media queries */
/* Small ≥576px */
@media (min-width:576px) {
    .hero-section .image {
        width: 50%;
    }
}

/* Large ≥992px / desktop navbar */
@media (min-width:992px) {
    .hero-section .image {
        width: 30%;  
    }
}
