.hero {
    position: relative;
}

.hero .call-to-action {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.hero .fluid-container {
    margin: 0 auto;
    height: 80vh;
    width: 100%;
    max-width: 2000px;
    max-height: 1500px;
    padding: 4em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.hero .text h1 {
    font-size: clamp(2.5em, 5vw, 8em);
    margin-bottom: 30px;
    letter-spacing: 10px;
    line-height: 1.2em;
}

.hero .text p {
    font-size: small;
    font-weight: 700;
    letter-spacing: 6px;
}

.hero .fluid-container .text {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero .fluid-container .logo {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero .fluid-container .logo img,
.hero .fluid-container .logo svg {
    height: 90%;
    width: 90%;
    object-fit: contain;
}

/* Large ≥992px / desktop navbar */
@media (min-width:960px) {
    .hero .fluid-container {
        flex-direction: row-reverse;
        padding-top: var(--nav-height);
        padding-bottom: 0;
    }

    .hero .fluid-container .text {
        width: 50%;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero .fluid-container .logo {
        width: 50%;
        height: 100%;
        align-items: center;
    }
}