.hero .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero .container .text {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    /* changes color of hero text on dark mode */
    fill: var(--text);
}

.hero .container .logo {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/* responsive media queries */
/* Small ≥576px */
@media (min-width:576px) {

}

/* Medium ≥768px */
@media (min-width:768px) {

}

/* Large ≥992px / desktop navbar */
@media (min-width:960px) {
    .hero .container {
        height: calc(100vh - var(--nav-height)) !important;
        flex-direction: row-reverse;
    }

    .hero .container .text {
        width: 50%;
        height: 100%;
        justify-content: center;
    }

    .hero .container .logo {
        width: 50%;
        height: 100%;
        align-items: center;
    }
}

/* X-Large ≥1200px */
@media (min-width:1200px) {

}

/* XX-Large ≥1400px */
@media (min-width:1400px) {

}