.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: var(--bg-gradient);
    color: var(--text-light);
    .text {
        text-align: justify;
    }

    .image {
        height: 150px;
        img {
            height: 100%;
        }
    }

}