.about-section {
    // background-image: var(--bg-gradient);

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        // color: var(--text-light);

        .text {
            text-align: start;

            .call-to-action {
                text-align: center;
            }
        }

        .image {
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 100%;
                width: 100%;
                object-fit: scale-down;
            }
        }
    }
}