.btn-dark {
    padding: 10px 20px;
    text-align: center;
    font-weight: 400;
    border-radius: 10px;
    transition: color .20s ease-in-out, background-color .20s ease-in-out, border-color .20s ease-in-out;
    border: 2px solid var(--bg-dark);
    color: var(--text-dark) !important;

    &:hover,
    &:focus {
        color: var(--text-light) !important;
        background-color: var(--bg-dark);
    }
}

.btn-color {
    padding: 10px 20px;
    text-align: center;
    font-weight: 400;
    border-radius: 10px;
    transition: color .20s ease-in-out, background-color .20s ease-in-out, border-color .20s ease-in-out;
    border: 2px solid var(--primary-color);
    color: var(--primary-color) !important;

    &:hover,
    &:focus {
        color: var(--text-light) !important;
        background-color: var(--primary-color);
    }
}

.btn-light {
    padding: 10px 20px;
    text-align: center;
    font-weight: 400;
    border-radius: 10px;
    transition: color .20s ease-in-out, background-color .20s ease-in-out, border-color .20s ease-in-out;
    border: 2px solid var(--bg-light);
    color: var(--text-light) !important;

    &:hover,
    &:focus {
        color: var(--text-dark) !important;
        background-color: var(--bg-light);
    }
}