footer {
    background-color: var(--card);

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--text);
        font-size: smaller;
        height: 100px;

        a {
            color: var(--text);
        }
    }
}