footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bg-dark);
    color: var(--text-light);
    height: 100px;
    margin-top: 3em;
    margin-bottom: var(--header-height);

    a {
        color: var(--text-light);
    }
}