.nav-toggle {
  z-index: 9999;
  position: fixed;
  top: 5%;
  right: 5%;
  display: flex;
  font-size: 2em;
  color: var(--text-dark);
  background-color: #fafafa5b;
  border: 0;
  border-radius: 10px;
}

.primary-header {
  background-color: unset;
  height: 100%;
  width: 70%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: var(--bg-light);
  transform: translateX(100%);
  transition: transform 400ms ease-in-out;

  .logo {
    display: none;

    strong {
      color: var(--primary-color);
    }
  }

  .primary-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    height: 100%;


    ul {
      display: flex;
      flex-direction: column;
      gap: 2em;
      text-align: center;
    }

  }
}

.primary-header[data-visible="true"] {
  transform: translateX(0);
}

@media (prefers-color-scheme: dark) {
  .primary-header {
    background-color: var(--bg-dark);
  }
}