.nav-toggle {
  z-index: 9999;
  position: fixed;
  top: 5%;
  right: 5%;
  display: flex;
  font-size: 2em;
  color: var(--text);
  background-color: #fafafa5b;
  border: 0;
  border-radius: 10px;
}

.primary-header {
  height: 100%;
  width: 60%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: var(--card);
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;

  .logo {
    display: none;

    strong {
      color: var(--primary-color);
    }
  }

  .primary-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    height: 100%;


    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2em;
      text-align: center;
    }

  }
}

.primary-header[data-visible="true"] {
  transform: translateX(0);
}

// Hides dark/light mode toggles
.d-block-light,
.d-block-dark {
  display: none;
}

// Shows theme toggles by data-theme
[data-theme='light'] .d-block-light,
[data-theme='dark'] .d-block-dark {
  display: block !important;
}