.hero {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/bg-light.svg");

    .container {
        min-height: 100vh;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .hero-text {
            width: 90%;
            max-height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;     
            fill: var(--text);
        }

        .hero-logo {
            width: 90%;
            max-height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        img,
        svg {
            height: 100%;
            max-width: 100%;
            object-fit: scale-down;
        }

        .call-to-action {
            text-align: center;
            margin: 2em 0;
            width: 100%;
        }
    }
}