.hero {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em 0;

    .hero-text {
        text-align: center;
        font-weight: 700;
        h1 {
            font-size: 2.5em;
            line-height: 1em;
        }

        p {
            margin: 0;
            font-weight: 300;
        }

        strong {
            color: var(--primary-color);
        }
    }

    .hero-logo {
        width: 80%;

        img {
            width: 100%;
        }
    }

    .call-to-action {
        margin: 2em 0 4em 0;
    }

    .down-icon {
        font-size: 1.5em;
    }
    
}