.projects-section {
    text-align: center;

    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1em 0 3em 0;
        padding: 2em 0;

        .image {
            height: 300px;
            position: relative;
            margin-bottom: 1em;

            img {
                height: 100%;
                max-width: 100%;
                object-fit: scale-down;
            }

            .text-image {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: var(--text-light);
                border-radius: 20px;
                padding: 1em;
                max-width: 50%;
                background-color: #0f1214;
            }
        }
    }
}