.projects-section {
    padding: 2em;
    .container {
        display: flex;
        flex-direction: column;
        gap: 3em;

        .project {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
            width: 100%;
            border-radius: 25px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            text-align: center;

            .image {
                overflow: hidden;
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    height: 80%;
                }
            }

            .text {
                padding: 0 .5em;

            }

            .link {
                padding:2em;
             
            }
        }
    }
}