.technology-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 1.5em;

    .technology {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5em;
        p {
            font-weight: 300;
            font-size: .8em;
        }
    }
}