@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
.btn-light {
  padding: 15px 30px;
  text-align: center;
  border: 1px solid var(--text-light);
  font-weight: 700;
  color: var(--text-light);
  border-radius: 10px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.btn-light:hover, .btn-light:focus {
  color: var(--text-dark);
  background-color: var(--text-light);
  border-color: var(--text-dark);
}

.btn-dark {
  padding: 15px 30px;
  text-align: center;
  border: 1px solid var(--secondary-color);
  font-weight: 700;
  color: var(--text-dark);
  border-radius: 10px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.btn-dark:hover, .btn-dark:focus {
  color: var(--text-light) !important;
  background-color: var(--secondary-color);
}

.nav-toggle {
  z-index: 9999;
  position: fixed;
  top: 5%;
  right: 5%;
  display: flex;
  font-size: 2em;
  color: var(--text-dark);
  background-color: rgba(250, 250, 250, 0.3568627451);
  border: 0;
  border-radius: 10px;
}

.primary-header {
  height: 100%;
  width: 70%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: var(--bg-light);
  transform: translateX(100%);
  transition: transform 400ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.primary-header .logo {
  display: none;
}
.primary-header .logo strong {
  color: var(--primary-color);
}
.primary-header .primary-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  height: 100%;
}
.primary-header .primary-navigation ul {
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: center;
}

.primary-header[data-visible=true] {
  transform: translateX(0);
}

.hero {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
  margin-bottom: 2em;
}
.hero .hero-text {
  text-align: center;
  font-weight: 700;
}
.hero .hero-text h1 {
  font-size: clamp(3em, 1em + 10vw, 5em);
  line-height: 1em;
}
.hero .hero-text p {
  margin: 0;
  font-weight: 300;
}
.hero .hero-text strong {
  color: var(--secondary-color);
}
.hero .hero-logo {
  width: 80%;
}
.hero .hero-logo img {
  width: 100%;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: var(--bg-gradient);
  color: var(--text-light);
}
.about-section .text {
  text-align: justify;
}
.about-section .image {
  height: 150px;
  display: flex;
}
.about-section .image img {
  height: 100%;
}

.projects-section .project-list {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.projects-section .project-list .project {
  background-color: var(--card-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
}
.projects-section .project-list .project .image {
  overflow: hidden;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-section .project-list .project .image img {
  height: 80%;
}
.projects-section .project-list .project .text {
  padding: 0 0.5em;
  font-size: small;
}
.projects-section .project-list .project .link {
  padding: 2em 0;
}

.technology-list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 1.5em;
}
.technology-list .technology {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.technology-list .technology p {
  font-weight: 300;
  font-size: 0.8em;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--card-dark);
  color: var(--text-light);
  height: 100px;
}
footer a {
  color: var(--text-light);
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg-light: #fafafa;
  --bg-dark: #171717;
  --card-light: #fdfdfd;
  --card-dark: #222222;
  --primary-color: #6eb0e8;
  --secondary-color: #c541d2;
  --text-light: #fff;
  --text-dark: #171717;
  --bg-gradient: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  --section-padding: 2em;
}

body {
  margin: 0;
  background-color: var(--bg-light);
  color: var(--text-dark);
  font-family: "Poppins", arial;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--text-dark);
}
a:hover, a:focus {
  color: var(--secondary-color) !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  padding: var(--section-padding);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-dark);
    color: var(--text-light);
  }

  a {
    color: var(--text-light);
  }

  .primary-header {
    background-color: var(--bg-dark);
  }

  .project {
    background-color: var(--card-dark) !important;
  }

  .btn-dark {
    color: var(--text-light);
  }
}
@media (min-width: 700px) {
  .hero .hero-logo {
    width: 70%;
  }

  section,
.hero {
    padding: 3em 5em;
  }

  .project-list {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row !important;
  }
  .project-list .project {
    width: 40% !important;
  }
}
@media (min-width: 960px) {
  .hero {
    margin-top: 80px;
  }
  .hero .hero-logo {
    width: 50%;
  }

  section,
.hero {
    padding: 3em 8em;
  }

  .about-section {
    flex-direction: row;
  }
  .about-section .image {
    height: 200px;
    padding: 2em;
  }

  .project-list {
    flex-wrap: wrap;
    gap: unset !important;
    justify-content: space-around;
    flex-direction: row !important;
  }
  .project-list .project {
    width: 30% !important;
  }

  .nav-toggle {
    display: none;
  }

  .primary-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 10;
    transform: translateX(0);
  }
  .primary-header .logo {
    display: block;
  }
  .primary-header .logo strong {
    color: var(--primary-color);
  }
  .primary-header .primary-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    height: 100%;
  }
  .primary-header .primary-navigation ul {
    display: flex;
    flex-direction: row;
    gap: 2em;
    text-align: center;
  }
}
@media (min-width: 1025px) {
  .hero {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 80px;
  }
  .hero .hero-logo {
    width: 40%;
  }
  .hero .hero-text {
    width: 60%;
  }
  .hero .hero-text h1 {
    margin: 0.3em 0;
  }
  .hero .call-to-action {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  section,
.hero {
    padding: 3em 20%;
  }

  .about-section {
    flex-direction: row;
  }
  .about-section .image {
    height: 200px;
    padding: 2em;
  }

  .project {
    max-width: 400px !important;
  }

  .technology-list {
    justify-content: flex-start;
  }
}/*# sourceMappingURL=main.css.map */