@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
.btn-color {
  background-color: transparent;
  padding: 10px 20px;
  text-align: center;
  font-weight: 700;
  border-radius: 10px;
  transition: color 0.8s ease-in-out, background-color 0.8s ease-in-out, border-color 0.8s ease-in-out;
  color: var(--text) !important;
  border: 2px solid var(--text);
}
.btn-color:hover, .btn-color:focus {
  border: 2px solid var(--primary-color);
  color: var(--text-light) !important;
  background-color: var(--primary-color);
}

.theme-toggle {
  cursor: pointer;
  font-weight: 700;
  width: auto;
  text-align: justify;
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  color: var(--text);
}
.theme-toggle:hover {
  color: var(--primary-color) !important;
}

.btn-light {
  background-color: transparent;
  padding: 10px 20px;
  text-align: center;
  font-weight: 700;
  border-radius: 10px;
  transition: color 0.8s ease-in-out, background-color 0.8s ease-in-out, border-color 0.8s ease-in-out;
  color: var(--text-light) !important;
  border: 2px solid var(--text-light);
}
.btn-light:hover, .btn-light:focus {
  border: 2px solid var(--primary-color);
  color: var(--text-light) !important;
  background-color: var(--primary-color);
}

@media (prefers-color-scheme: dark) {
  .btn-color {
    color: var(--text) !important;
    border: 2px solid var(--text);
  }
  .btn-color:hover, .btn-color:focus {
    border: 2px solid var(--primary-color);
    color: var(--text-light) !important;
    background-color: var(--primary-color);
  }
}
.nav-toggle {
  z-index: 9999;
  position: fixed;
  top: 5%;
  right: 5%;
  font-size: 2em;
  color: var(--text-light);
  background-color: rgba(58, 58, 58, 0.6705882353);
  border: 0;
  border-radius: 10px;
}

.menuicon, .closeicon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-header {
  height: 100%;
  width: 60%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: var(--card);
  transform: translateX(100%);
}
.primary-header .logo {
  display: none;
}
.primary-header .logo strong {
  color: var(--secondary-color);
}
.primary-header .primary-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  height: 100%;
}
.primary-header .primary-navigation ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  text-align: center;
}

.primary-header[data-visible=true] {
  transform: translateX(0);
}

.d-block-light,
.d-block-dark {
  display: none;
}

[data-theme=light] .d-block-light,
[data-theme=dark] .d-block-dark {
  display: block !important;
}

.closeicon {
  display: none;
}

.hero {
  background: url("../images/hero-nodots.svg") center center/cover no-repeat, var(--card-dark);
}
.hero .container {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero .container .hero-text {
  width: 90%;
  max-height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.hero .container .hero-logo {
  width: 90%;
  max-height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .container img, .hero .container svg {
  height: 100%;
  max-width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.hero .container .call-to-action {
  text-align: center;
  margin: 2em 0;
  width: 100%;
}

.about-section {
  margin-bottom: 3em;
}
.about-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-section .container .text {
  text-align: justify;
}
.about-section .container .text .call-to-action {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  gap: 1em;
}
.about-section .container .image {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-section .container .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.projects-section {
  text-align: center;
}
.projects-section .project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em 0 3em 0;
  background-color: var(--card);
  padding: 2em 0;
  border-radius: 2em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.projects-section .project .image {
  height: 300px;
  position: relative;
  margin-bottom: 1em;
}
.projects-section .project .image img {
  height: 100%;
  max-width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.projects-section .project .image .text-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-light);
  border-radius: 20px;
  padding: 1em;
  max-width: 50%;
  background-color: #0f1214;
}

footer {
  background-color: var(--card);
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text);
  font-size: smaller;
  height: 100px;
}
footer .container a {
  color: var(--text);
}
footer .container img {
  height: 80%;
}

:root,
:root.light {
  scroll-behavior: smooth;
  --bg: #fbfbfd;
  --card-dark: #181b1f;
  --card: #fff;
  --primary-color: #ff0a52;
  --secondary-color: #00b3c0;
  --text: #1d1d1f;
  --text-light: #ffffff;
  --bg-gradient: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  --section-padding: 1em;
  --nav-height: 80px;
  --swiper-theme-color: var(--primary-color) !important;
}

[data-theme=light] {
  --bg: #fbfbfd !important;
  --text: #1d1d1f !important;
  --card: #fff !important;
}

[data-theme=dark] {
  --bg: #0f1214 !important;
  --text: #ffffff;
  --card: #181b1f !important;
  --swiper-pagination-bullet-inactive-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0f1214;
    --text: #ffffff;
    --card: #181b1f;
    --swiper-pagination-bullet-inactive-color: white;
  }
}
body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  font-family: "Poppins", arial;
  font-weight: 400;
}

h1,
h2,
h3 {
  margin-top: 0.5em;
  font-weight: 700;
}

h1 {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: var(--text);
}
a:hover, a:focus {
  color: var(--primary-color) !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  width: 100%;
  overflow: hidden;
}

.observer {
  transform: translateY(5%);
  opacity: 0;
  transition: 0.8s ease;
}

.observer.show {
  transform: translateY(0);
  opacity: 1;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 2em 1em;
  box-sizing: border-box;
}

body,
.project,
footer,
a,
.theme-toggle,
.primary-header {
  transition: all 0.8s ease-in-out;
}

@-webkit-keyframes slidein {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slidein {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }

  .about-section .container {
    flex-direction: row;
  }
  .about-section .container .text {
    width: 50%;
  }
  .about-section .container .text .call-to-action {
    text-align: left;
  }
  .about-section .container .image {
    width: 50%;
    height: 200px;
  }
}
@media (min-width: 992px) {
  :root {
    scroll-padding-top: var(--nav-height);
  }

  .container {
    width: 960px;
  }

  .hero .container {
    margin-top: var(--nav-height);
    padding-top: 5em;
    padding-bottom: 5em;
    flex-direction: row-reverse;
    min-height: calc(100vh - var(--nav-height)) !important;
  }
  .hero .container .hero-text {
    width: 50%;
  }
  .hero .container .hero-logo {
    width: 50%;
  }

  .nav-toggle {
    display: none;
  }

  .primary-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--nav-height);
    width: 100%;
    position: fixed;
    z-index: 10;
    transform: translateX(0);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .primary-header .logo {
    display: block;
  }
  .primary-header .primary-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    height: 100%;
  }
  .primary-header .primary-navigation ul {
    display: flex;
    flex-direction: row;
    gap: 2em;
    text-align: center;
  }

  .technology-list {
    justify-content: space-between;
  }

  .primary-header {
    -webkit-animation: slidein 1s ease;
            animation: slidein 1s ease;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}/*# sourceMappingURL=main.css.map */