@use "_elements";
@use "_header";
@use "_hero";
@use "_about";
@use "_projects";
@use "_footer";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root,
:root.light {
    scroll-behavior: smooth;
    --bg: #fafafa;
    --card-dark: #131313;
    --card: #f5f5f5;
    --primary-color: #ff0a52; //ee2e5e
    --secondary-color: #00b3c0;
    --text: #080808;
    --text-light: #ffffff;
    --section-padding: 1em;
    --nav-height: 80px;
    --swiper-theme-color: var(--primary-color) !important;
    --swiper-pagination-bullet-inactive-color: var(--primary-color) !important;
}

[data-theme="light"] {
    --bg: #fafafa !important;
    --text: #080808 !important;
    --card: #f5f5f5 !important;

    // .hero {
    //     background-image: url("../images/bg-light.svg");
    // }
}


[data-theme="dark"] {
    --bg: #111111 !important;
    --text: #ffffff;
    --card: #181818 !important;

    // .hero {
    //     background-image: url("../images/bg-dark.svg");
    // }
}

// Dark mode
@media (prefers-color-scheme: dark) {
    :root {
        --bg: #111111;
        --text: #ffffff;
        --card: #181818;
    }

    // .hero {
    //     background-image: url("../images/bg-dark.svg");
    // }
}


body {
    margin: 0;
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Poppins', arial;
    font-weight: 400;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: 700;
}

h1 {
    font-size: 3em;
}

a {
    text-decoration: none;
    color: var(--text);

    &:hover,
    &:focus {
        color: var(--primary-color) !important;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

// General section width, used later for responsive Queries
section {
    width: 100%;
    overflow: hidden;
}

// Classes for IntersectionObserver (animation on scroll)
.observer {
    transform: translateY(5%);
    opacity: 0;
    transition: .8s ease;
}

.observer.show {
    transform: translateY(0);
    opacity: 1;
}


.container {
    width: 100%;
    margin: 0 auto;
    padding: 3em 1em;
    // prevents overflow with padding
    box-sizing: border-box;
}

// All transitions
body,
.project,
footer,
a,
.theme-toggle,
.primary-header,
.hero {
    transition: all .8s ease;
}

// Slide in animation for navbar on desktop
@keyframes slidein {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

// Responsive Queries
@media (min-width:576px) {
    .container {
        width: 540px;
    }
}

@media (min-width:768px) {
    .container {
        width: 720px;
    }

    // .project-list {
    //     flex-direction: row !important;
    // }

    .about-section .container {
        flex-direction: row;

        .text {
            width: 50%;

            // .call-to-action {
            //     text-align: left;
            // }
        }

        .image {
            width: 50%;
            height: 200px;
        }
    }

}

// Full navbar
@media (min-width:992px) {
    :root {
        // add padding to anchor to prevent content behind navbar in large screens
        scroll-padding-top: var(--nav-height);
    }

    .container {
        width: 960px;
    }

    .hero .container {
        margin-top: var(--nav-height);
        padding-top: 5em;
        padding-bottom: 5em;
        flex-direction: row-reverse;
        // min height is 100vh minus desktop navbar
        min-height: calc(100vh - var(--nav-height)) !important;

        .hero-text {
            width: 50%;
        }

        .hero-logo {
            width: 50%;
        }
    }

    .nav-toggle {
        display: none;
    }

    .primary-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: var(--nav-height);
        width: 100%;
        position: absolute;
        z-index: 10;
        transform: translateX(0);
        // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        .logo {
            display: block;
        }

        .primary-navigation {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            height: 100%;


            ul {
                display: flex;
                flex-direction: row;
                gap: 2em;
                text-align: center;
            }

        }
    }

    .technology-list {
        justify-content: space-between;
    }

    // nav animation for big screens
    .primary-header {
        animation: slidein 1s ease;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1140px;
    }

    // .project-list {
    //     justify-content: space-around;

    //     .project {
    //         width: calc(33% - 3em) !important;
    //     }
    // }
}

@media (min-width:1400px) {
    .container {
        width: 1320px;
    }
}