@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
.btn-light {
  padding: 15px 30px;
  text-align: center;
  border: 1px solid var(--text-light);
  color: var(--text-light);
  border-radius: 10px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.btn-light:hover, .btn-light:focus {
  color: var(--text-dark);
  background-color: var(--text-light);
  border-color: var(--text-dark);
}

.btn-dark {
  padding: 15px 30px;
  text-align: center;
  border: 1px solid var(--secondary-color);
  color: var(--text-dark);
  border-radius: 10px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.btn-dark:hover, .btn-dark:focus {
  color: var(--text-light);
  background-color: var(--secondary-color);
  border-color: var(--text-light);
}

.primary-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-light);
  height: var(--header-height);
  width: 100%;
  position: fixed;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 100;
}
.primary-header .logo {
  display: none;
}
.primary-header .logo strong {
  color: var(--primary-color);
}
.primary-header .primary-navigation {
  display: flex;
  font-weight: 700;
  gap: 1em;
}

.hero-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-container .hero-text {
  color: var(--text-dark);
  text-align: center;
  font-weight: 700;
  margin-bottom: 3em;
}
.hero-container .hero-text h1 {
  margin: 0;
  font-size: 2.5em;
}
.hero-container .hero-text p {
  margin: 0;
  font-weight: 300;
}
.hero-container .hero-text strong {
  color: var(--primary-color);
}
.hero-container .hero-logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 40%;
}
.hero-container .hero-logo img {
  height: 100%;
}
.hero-container .icon-down {
  font-size: 1.5em;
  margin-top: 2em;
}

.about-container {
  padding: 2em;
  display: flex;
  align-items: center;
  background-image: var(--bg-gradient);
  color: var(--text-light);
}
.about-container .text {
  text-align: justify;
}
.about-container .image {
  display: none;
}
.about-container .image img {
  width: 100%;
}

.projects-section {
  margin-top: 4em;
}
.projects-section .container {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.projects-section .container .project {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 400px;
  width: 100%;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
}
.projects-section .container .project .image {
  overflow: hidden;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-section .container .project .image img {
  height: 80%;
}
.projects-section .container .project .text {
  padding: 0 0.5em;
}
.projects-section .container .project .link {
  padding: 0 2em;
  position: absolute;
  bottom: 10%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bg-dark);
  color: var(--text-light);
  height: 100px;
  margin-top: 3em;
  margin-bottom: var(--header-height);
}
footer a {
  color: var(--text-light);
}

:root {
  --bg-light: #f6f6f6;
  --bg-dark: #171717;
  --primary-color: #7623f8;
  --secondary-color: #fb56b9;
  --text-light: #fff;
  --text-dark: #171717;
  --bg-gradient: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  --header-height: 80px;
}

body {
  margin: 0;
  background-color: var(--bg-light);
  color: var(--text-dark);
  font-family: "Poppins", arial;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--text-dark);
}
a:hover {
  color: var(--secondary-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-container {
  padding: 0 2em;
}/*# sourceMappingURL=main.css.map */