@use "_elements";
@use "_header";
@use "_hero";
@use "_about";
@use "_projects";
@use "_technologies";
@use "_footer";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --bg-light: #fafafa;
    --bg-dark: #171717;
    --card-light: #fdfdfd;
    --card-dark: #222222;
    --primary-color: #6eb0e8;
    --secondary-color: #c541d2;
    --text-light: #fff;
    --text-dark: #171717;
    --bg-gradient: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    --section-padding: 2em;
}

body {
    margin: 0;
    background-color: var(--bg-light);
    color: var(--text-dark);
    font-family: 'Poppins', arial;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--text-dark);

    &:hover,
    &:focus {
        color: var(--secondary-color) !important;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

// General padding for sections
section {
    padding: var(--section-padding);
}

// General Dark mode
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bg-dark);
        color: var(--text-light);
    }

    a {
        color: var(--text-light);
    }
}