#theme-toggle {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.2em;
    color: var(--text);
    transition: all .2s ease;
    display: flex;
}

#theme-toggle:hover {
    color: var(--primary-color);
}