.projects-section .container .title {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.project-list {
    margin-top: 2em;
    display: grid;
    align-items: start;
    justify-items: center;
    gap: 5em;
    grid-template-columns: 1fr;
}

.swProjectsBtn {
    display: none;
}

.swProjectsBtn, .mgProjectsBtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;
    color: var(--secondary-color);
}