.projects-section .container .title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
}

.projects-section .container .title a {
    color: var(--secondary-color);
    font-weight: 700;
}

.project-list {
    margin-top: 2em;
    display: grid;
    align-items: start;
    justify-items: center;
    gap: 5em;
    grid-template-columns: 1fr;
}